/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.form-flex-row {
  display: flex;
  justify-content: space-between;
}

form section label {
  width: 30%;
}

form section input, form section select {
  width: 70%;
}

.group {
  display: flex;
  flex-direction: column;
}

.group-row {
  display: flex;
}

#menu {
  justify-content: center;
  padding-bottom: 20px; 
}

.full-size-img {
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

.form-input {
  justify-content: flex-end;
  margin-left: 175px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */


@media screen and (min-width: 768px) {
  /* Styles for viewport width over 768px go here */
  .flex-mobil-row {
    display: flex;
    justify-content: space-between;
  }
  .about-rows {
    display: flex;
    direction: column;
    justify-content: space-between;
  }

  .about-images-section {
    width: 20%;
    display: flex;
  }
  .full-size-img {
    margin-right: 10px;
  }
  .about-text {
    width: 50%;
    margin-top: 50px;
  }
  form {
    display: flex;
    direction: row;
  }
  form section {
    flex: 1;
  }
  form button {
    flex: 1;
    height: fit-content;
    align-self: center;
  }
  .form-flex-row {
    flex-direction: column;
  }
  .form-input {
    justify-content: flex-end;
    margin-left: 1px;
  }
  .ideas-content {
    width: fit-content;
    height: fit-content;
  }
  .ideas-row {
    display: flex;
    justify-content: center;
    justify-items: flex-start;
  }
  .host-content {
    display: flex;
    direction: row;
  }
  .host-text {
    width: 50%;
    margin-top: 50px;
  }
  main img {
    width: 500px;
  }

}